<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentFTP" version="19.1.2" targetFramework="net45" />
  <package id="MACTrackBarLib.dll" version="1.0.2" targetFramework="net40" />
  <package id="MediaToolkit" version="1.1.0.1" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="NReco.VideoConverter" version="1.1.2" targetFramework="net40" />
  <package id="polymer" version="1.0.0" targetFramework="net40" />
  <package id="polymer-iron-media-query" version="1.0.1" targetFramework="net40" />
  <package id="polymer-iron-selector" version="1.0.2" targetFramework="net40" />
  <package id="ZXing" version="2.1.1" targetFramework="net40" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="net40" />
</packages>